body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    margin: 0;
    font-weight: bold;
    font-size: xx-large;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.frame {
    display: flex; 
    justify-content: center; 
    align-items: center;
}