body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
    margin: 0;
    font-weight: normal;
    font-size: xx-large;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

thead {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

tbody {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.frame {
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 1em;
}

.table-striped {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 720px) {
    .table-striped {
        width: 80%;
    }
}

@media (min-width: 721px) {
    .table-striped {
        width: 80%;
    }
}